<div ng-controller="HeaderController">
    <div class="main-header md-whiteframe">
        <md-toolbar layout="row">

            <div class="md-toolbar-tools">                
                <md-button class="md-icon-button" href="home">
                    <span class="brand-name">Listo</span>
                </md-button>

                <span flex></span>
                <div data-ng-hide="authentication.user" layout="row">
                    <md-button data-ui-sref-active="active" href="authentication/signup" target="_self">
                        <i class="write icon"></i>Sign Up
                    </md-button>
                    <md-button data-ui-sref-active="active" href="authentication/signin" target="_self">
                        <i class="sign in icon"></i>Sign In
                    </md-button>
                </div>

                <md-button data-ng-if="menu.shouldRender(authentication.user);" ng-click="toggleRight()" aria-label="Button for sidebar">
                    <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="ui avatar image"/>
                    <span data-ng-bind="authentication.user.firstName"></span>
                    &nbsp;<i class="align justify icon"></i>
                </md-button>
            </div>
        </md-toolbar>
    </div>
</div>
