<section data-ng-controller="TravelAgenciesController" class="ui segment basic">
    <div class="ui page grid">
        <div class="column">
            <div class="page-header">
                <h1>New Travel agency</h1>
            </div>
            <div class="ui divider"></div>
            <form data-ng-submit="create()" novalidate>
                <div class="ui two column grid stackable">
                    <div class="column">
                        <md-input-container>
                            <label>Travel Agency Name</label>
                            <input type="text" data-ng-model="name" id="name" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Description</label>
                            <textarea data-ng-model="description" id="description" rows=5 md-maxlength="300"></textarea>
                        </md-input-container>

                        <div class="ui two column grid">
                            <div class="column">
                                <md-input-container flex>
                                    <label>Creation date</label>
                                    <input type="date" data-ng-model="creationDate" id="creationDate">
                                </md-input-container>
                            </div>
                            <div class="column">
                                <md-input-container flex>
                                    <label>Closing date (bankruptsy)</label>
                                    <input type="date" data-ng-model="bankruptDate" id="bankruptDate">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <!-- Country & Zip code -->
                        <div class="ui two column grid">
                            <div class="twelve wide column">
                                <md-input-container>
                                    <label>Country</label>
                                    <input type="text" data-ng-model="country" id="country" required>
                                </md-input-container>
                            </div>
                            <div class="four wide column">
                                <md-input-container>
                                    <label>Postal Code</label>
                                    <input type="text" data-ng-model="postalCode" id="postalCode">
                                </md-input-container>
                            </div>
                        </div>

                        <!-- City & State  -->
                        <div class="ui two column grid stackable">
                            <div class="column">
                                <md-input-container>
                                    <label>City</label>
                                    <input type="text" data-ng-model="city" id="city">
                                </md-input-container>
                            </div>
                            <div class="column">
                                <md-input-container>
                                    <label>State</label>
                                    <input type="text" data-ng-model="state" id="state">
                                </md-input-container>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="ui one column grid">
                            <div class="column">
                                <md-input-container>
                                    <label><i class="home icon"></i>Address</label>
                                    <input type="text" data-ng-model="address" id="address">
                                </md-input-container>
                            </div>
                        </div>

                        <!-- Phone & Fax -->
                        <div class="ui two column grid">
                            <div class="column">
                                <md-input-container>
                                    <label><i class="call icon"></i>Phone</label>
                                    <input type="text" data-ng-model="phone" id="phone">
                                </md-input-container>
                            </div>
                            <div class="column">
                                <md-input-container>
                                    <label><i class="print icon"></i>Fax</label>
                                    <input type="text" data-ng-model="fax" id="fax">
                                </md-input-container>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="ui one column grid">
                            <div class="column">
                                <md-input-container>
                                    <label><i class="envelope icon"></i>Email</label>
                                    <input type="email" data-ng-model="email" id="email">
                                </md-input-container>
                            </div>
                        </div>

                        <!-- Website -->
                        <div class="ui one column grid">
                            <div class="column">
                                <md-input-container>
                                    <label><i class="world icon"></i>Website</label>
                                    <input type="text" data-ng-model="website" id="website">
                                </md-input-container>
                            </div>
                        </div>

                    </div><!-- .column -->


                    <input type="submit" class="ui purple button">

                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
