<section data-ng-controller="TravelAgenciesController" data-ng-init="find()">
    <div class="ui basic segment">
        <div class="ui page grid">
            <div class="column">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
        </div>
    </div>

    <div class="ui basic segment">
        <div class="ui page grid">
            <div class="column">

                <div layout="row" layout-align="space-between center" layout-wrap>
                    <div flex="80">
                        <h1>Travel agencies</h1>
                    </div>
                    <div class="20">
                        <md-button class="md-raised md-primary" data-ui-sref="travel-agencies.create">
                            <i class="plus icon"></i>Create
                        </md-button>
                    </div>
                </div>
                <br>
                <div class="ui fluid icon input" space-padding>
                    <input type="text" ng-model="query" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <br>

                <div class="travel-agency-list">
                    <md-list>
                        <md-list-item data-ng-repeat="travelAgency in travelAgencies | filter:query | limitTo:20">
                            <md-button data-ui-sref="travel-agencies.view({travelAgencyId:travelAgency._id})">
                                <h3 data-ng-bind="travelAgency.name"></h3>
                                Posted on
                                <span data-ng-bind="travelAgency.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="travelAgency.user.displayName"></span>
                            </md-button>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>

                <div class="alert alert-warning text-center" data-ng-hide="!travelAgencies.$resolved || travelAgencies.length">
                    No Travel agencies yet, why don't you <a href="/#!/travel-agencies/create">create one</a>?
                </div>
            </div>
        </div>
    </div>
</section>
