<section data-ng-controller="TravelAgenciesController" data-ng-init="findOne()">
	<div class="ui basic segment">
	</div>

	<div class="ui basic segment">
		<div class="ui page grid">
			<div class="column">
				<div class="page-header">
					<h1 data-ng-bind="travelAgency.name"></h1>
				</div>
				<h1>{{travelAgency.logoImageUrl}}</h1>
				<section id="travelAgencyContent">

					<div class="ui two column grid stackable">
						<div class="twelve wide column">
							{{travelAgency.description}}
						</div>
						<div class="four wide column">
							<div class="ui divided list">
								<div class="item">
									<i class="home icon" valign="top"></i>
									<div class="content">
										<a class="header">
											{{travelAgency.address}}
											{{travelAgency.postalCode}},{{travelAgency.city}}<br>
											{{travelAgency.country}}
										</a>
									</div>
								</div>
								<div class="item">
									<i class="call icon"></i>
									<div class="content">
										<a class="header">&nbsp;{{travelAgency.phone}}</a>
									</div>
								</div>
								<div class="item">
									<i class="print icon"></i>
									<div class="content">
										<a class="header">{{travelAgency.fax}}</a>
									</div>
								</div>
								<div class="item">
									<i class="envelope icon"></i>
									<div class="content">
										<a class="header" href="mailto:{{travelAgency.email}}">
											{{travelAgency.email}}
										</a>
									</div>
								</div>
								<div class="item">
									<i class="globe icon"></i>
									<div class="content">
										<a class="header" href="{{travelAgency.website}}" target="_blank">&nbsp;{{travelAgency.website}}</a>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div data-ng-show="authentication.user._id == travelAgency.user._id">
							<a class="ui purple button" href="/#!/travel-agencies/{{travelAgency._id}}/edit">
								<i class="edit icon"></i> Edit
							</a>
							<a class="ui red button" data-ng-click="remove();">
								<i class="trash icon"></i> Delete
							</a>
						</div>

						<br>


					</div>
				</section>
				<br>
				<small>

					Created on
					<span data-ng-bind="travelAgency.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="travelAgency.user.displayName"></span>

				</small>
			</div>
		</div>
	</div>
</section>
