.content {
  margin-top: 50px;
}
body,
p,
a {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-weight: 700 ;
}
.brand-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.25em;
}
.main-header md-toolbar.md-default-theme {
  background-color: white !important;
}
.main-header md-toolbar.md-default-theme .md-button {
  color: black;
  text-transform: capitalize;
}
md-sidenav md-toolbar .md-toolbar-tools {
  color: white;
}
md-sidenav md-list {
  padding-left: 10px;
}
md-sidenav md-list button.md-button.md-default-theme {
  width: 100%;
  text-transform: Capitalize;
  text-align: left;
}
